################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.dll
/ExternalModuleExample/obj/
/ExternalModuleExample/.vs
/.vs
/ExternalModuleExample/packages
/AttributesSample/.vs/
/AttributesSample/obj/
/AttributesSample/packages
/GetDataSample/.vs/
/GetDataSample/obj/
/GetDataSample/packages
