################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExternalModuleExample/.vs/ExternalModuleExample/v14
/ExternalModuleExample/obj/Debug
