################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.dll
/ExternalModuleExample/obj/Debug
/ExternalModuleExample/.vs
/.vs
/ExternalModuleExample/packages
/AttributesSample/.vs/LersSample/v17
/AttributesSample/obj/x64/Debug
/AttributesSample/packages
