<?xml version="1.0"?>
<configuration>
  <connectionStrings/>
  <system.web>
    <!-- 
            Значение параметра compilation debug="true" означает, 
            что в компилированную страницу будут вставлены отладочные символы. Так как этот 
            параметр влияет на производительность, 
            следует устанавливать в нем значение True только на этапе разработки.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            Раздел <customErrors> позволяет настраивать 
            параметры действий на случай возникновения необработанных ошибок 
            во время выполнения запроса. А именно, 
            он позволяет разработчикам настраивать HTML-страницы 
            с сообщениями об ошибках, которые будут отображаться вместо трассировки стека ошибок. 
        -->
    <customErrors mode="Off"/>
    <!-- Секция работает для IIS 5/6 и класического режима IIS 7.0-->
    <httpHandlers>
      <add verb="GET" path="KhvAdmImport.aspx" type="Lers.Web.DataAdapter.KhvAdm.Handler, Lers.KhvAdmDataAdapter"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="KhvAdmDataHandler" path="KhvAdmImport.aspx" verb="GET" type="Lers.Web.DataAdapter.KhvAdm.Handler, Lers.KhvAdmDataAdapter"/>
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="ServerAddress" value="localhost"/>
    <add key="ServerPort" value="10000"/>
    <add key="AdmLogin" value="Admin"/>
    <add key="AdmPassword" value="Admin"/>
    <!--Необходимо указывать абсолютный путь-->
    <add key="DataAdapterFileLogPath" value=""/>
    <add key="DataAdapterFileLogDebug" value="1"/>
  </appSettings>
</configuration>